.site{
  .site-header{
      text-align: center;
      background-color: #ccccff;
      @include respond-to() {
    			width: $size__site-full;
    	}
  }
  .header-menu{
    ul{
     li{
       a{
         color: #811b4d;
         background-color: #ffd480;
         &:hover{
           color: #000;
         }
       }
      }
    }
  }
}
