.main-navigation {
    width: 100%;
    @include respond-to() {
  			width: auto;
  	}
    ul {
      display: none;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      @include respond-to() {
    			width: $size__site-full;
    	}
      .sub-menu {
          position: absolute;
          padding: 0;
          left: -999rem;
          z-index: 99999;
          @include respond-to() {
        			width: $size__site-full;
        	}
          ul {
              left: -999rem;
              top: 0;
              @include respond-to() {
            			width: $size__site-full;
            	}
          }
          li {
              &.focus>ul, &:hover>ul {
                  left: 100%;
              }
          }
          a {
              width: 200px;
              color: #174c39;
              @include respond-to() {
            			width: $size__site-full;
            	}
          }
        }
        li.focus>ul, li:hover>ul {
            left: auto;
            @include respond-to() {
          			width: $size__site-full;
          	}
        }
    }
    li {
        display: inline-block;
        position: relative;
        @include respond-to($to-width: 800px) {
            width: 100%;
        }
    }
    a {
        display: block;
        margin: 1px;
        padding: 5px;
        text-decoration: none;
        font-size: 1rem;
        @include respond-to() {
      			width: $size__site-full;
      	}
    }
    .current-menu-ancestor>a, .current-menu-item>a, .current_page_ancestor>a, .current_page_item>a {}
}
/* Small menu. */
.main-navigation.toggled ul, .menu-toggle {
    display: block;
}
@media screen and (min-width: 37.5rem) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}
.comment-navigation, .post-navigation, .posts-navigation {
    .site-main & {
        margin: 0 0 1.5rem;
        overflow: hidden;
    }
    .nav-next {
        width: 50%;
        text-align: right;
        float: right;
        @include respond-to() {
      			width: 50;
      	}
    }
}
